<div id="<%= dom_id realty %>">
  <img src="<%= realty.img %>" alt="realty thumbnail" width="250" height="250">
  <p>
    <strong>Address:</strong>
    <%= realty.address %>
  </p>
  <p>
    <% if realty.bricks.where(on_sale: true).count > 0 %>
      <% realty.bricks.where(on_sale: true).order(:price).each do |brick| %>
        <%= render partial:'realty_brick_offer', locals: {brick: brick} %>
      <% end %>
    <% end %>
  </p>
</div>
