<p style="color: green"><%= notice %></p>

<h1>Realties</h1>

<div id="realties">
  <% @realties.each do |realty| %>
    <%= render realty %>
    <p>
      <%= link_to "Show this realty", realty %>
    </p>
  <% end %>
</div>
