<div id="<%= dom_id shopping_cart %>">
  <p>
    <strong>User:</strong>
    <%= shopping_cart.user.name %>
  </p>

  <%= link_to "go to checkout", checkout_shopping_cart_path(shopping_cart.id) %> |
</div>
